
body {
  text-align: center;
  background: url("../img/paisaje.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: helvetica;
}

p {
  font-size: 22px;
}

input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}

input[type="submit"] {
  background: #5e2129;
  color: white;
}

.img-circle {
  width: 200px;
  height: 200px;
  border-radius: 106px;
  border: 6px solid #fff;
}
